.checkbox-off-2, 
.checkbox-off-1, 
.checkbox-off, 
.checkbox-on-1, 
.checkbox-on-2, 
.checkbox-on, 
.radio-off, 
.radio-off-1, 
.radio-off-2, 
.radio-on, 
.radio-on-2, 
.radio-on-1, 
.close-cross-1, 
.close-cross-2, 
.close-cross {
	
	background: url(sprites.png) no-repeat;

}



.checkbox-off-2{

	background-position: 0 0;

	width: 23px;
	height: 23px;

}


.checkbox-off-1{

	background-position: -27px 0;

	width: 23px;

	height: 23px;

}


.checkbox-off{

	background-position: -54px 0;

	width: 23px;
	height: 23px;

}


.checkbox-on-1{

	background-position: 0 -23px ;

	width: 27px;
	height: 23px;
}


.checkbox-on-2{

	background-position: -27px -23px ;

	width: 27px;

	height: 23px;

}


.checkbox-on{

	background-position: -54px -23px ;

	width: 27px;
	height: 23px;

}


.radio-off{

	background-position: 0 -46px ;

	width: 25px;
	height: 25px;

}


.radio-off-1{

	background-position: -25px -45px ;

	width: 25px;
	height: 25px;

}


.radio-off-2{

	background-position: -50px -46px ;

	width: 25px;
	height: 25px;

}


.radio-on{

	background-position: 0 -71px ;

	width: 25px;

	height: 25px;

}


.radio-on-2{

	background-position: -25px -71px ;

	width: 25px;

	height: 25px;

}


.radio-on-1{

	background-position: -50px -71px ;

	width: 25px;

	height: 25px;

}


.close-cross-1{

	background-position: 0 -96px ;

	width: 21px;

	height: 21px;

}


.close-cross-2{

	background-position: -21px -96px ;

	width: 21px;
	height: 21px;

}


.close-cross{

	background-position: -42px -96px ;

	width: 21px;

	height: 21px;

}


.cart-icon{
background-position: -63px -96px;
width: 15px;
height: 15px;
}